name: Issue Notifications
on:
  issues:
    types: [labeled]
jobs:
  determine-action:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      actions: write
    steps:
      - uses: actions/checkout@v5

      - name: "Installed notification"
        if: github.event.label.name == '4 - installed'
        uses: actions/github-script@v8
        env:
          ISSUE_VERIFIERS: ""
        with:
          script: |
            const action = require('${{ github.workspace }}/.github/scripts/notifyWhenInstalled.js')
            await action({github, context, core})

      - name: "Spike complete notification"
        if: github.event.label.name == 'spike complete'
        uses: actions/github-script@v8
        env:
          MANAGERS: ""
        with:
          script: |
            const action = require('${{ github.workspace }}/.github/scripts/notifyWhenSpikeComplete.js')
            await action({github, context, core})

      - name: "Ready for dev notification"
        if: github.event.label.name == '2 - ready for dev'
        uses: actions/github-script@v8
        env:
          MANAGERS: ""
        with:
          script: |
            const action = require('${{ github.workspace }}/.github/scripts/notifyWhenReadyForDev.js')
            await action({github, context, core})

      - name: "New component notification"
        if: github.event.label.name == 'new component'
        uses: actions/github-script@v8
        env:
          DESIGNERS: "Aaron,Skye"
        with:
          script: |
            const action = require('${{ github.workspace }}/.github/scripts/notifyAboutNewComponent.js')
            await action({github, context, core})

      - name: "Icon request notification"
        if: github.event.label.name == 'calcite-ui-icons'
        run: echo "Icon request notification fired"
